.footer {
   background-color: var(--green);
    color: var(--white);
}

.socialIcon {
    color: var(--white);
}

.socialIcon:hover {
    color: rgba(255,255,255,.75);
}

.copyright {
    background-color: var(--dark-green);
    color: var(--white);
}